.about-container {
    background: #2b2b2b;
}
.about {
    &:before {
        content: "";
    }
    display: flex;
    align-items: flex-start;
    justify-content: center;
    line-height: 30px;
    color: #7a7a7a;
    padding: 96px 20px 66px 20px;
    max-width: 1200px;
    margin: 0 auto;
    .about_image {
        overflow: hidden;
        width: 35%;
        margin-right: 40px;
        img {
           max-width: 100%;
           max-height: 100%;
           border-radius: 10px;

        }
    }
    .about_desc {
        width: 55%;
        p {
            margin: 30px 0 30px 0;
            color: #6e7881
        }
    }
    .contact {
        display: flex;
        align-items: flex-start;
        .contact-desc {
            margin-right: 30px;
        }
        h3, p {
            margin: 0;
        }
        h1, h3 {
            color: white
        }
        .email {
            color: #11abb0;
        }
        .contact-info {
            margin-top: 20px;
        }
        .download {
            background: #11abb0;
            padding: 10px;
            border-radius: 4px;
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 767px){
   .contact {
       flex-direction: column;
   }
   .contact-info {
    margin-bottom: 20px;
   }
}
